.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

h1 {
  margin-bottom: -40px;
  border-radius: 6px;
  padding: 16px 20px;
  color: white;
  background: linear-gradient(
    55deg,
    rgba(157, 0, 0, 1) 0%,
    rgba(233, 64, 64, 1) 100%
  );
  -webkit-box-shadow: 0px 0px 6px 0px rgba(255, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 6px 0px rgba(255, 0, 0, 0.5);
  box-shadow: 0px 0px 6px 0px rgba(255, 0, 0, 0.5);
  width: fit-content;
  text-align: center;
  z-index: 1;
}

.box {
  border-radius: 10px;
  padding: 60px 40px 40px 40px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
}

input {
  outline: none;
  margin: 6px 0;
  border: none;
  border-bottom: 2px solid #cccccc;
  padding: 6px;
  transition: all 0.25s;
}
input:focus {
  border-bottom: 2px solid #4287f5;
}

button {
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4287f5;
}

button:hover {
  background-color: #88b5ff;
}

.message {
  font-style: italic;
  font-weight: bold;
  color: red;
}
